# /root/midscore_io/views/blog/gallery/edit_user_gallery_id.html.erb
<%# # /gallery/edit/user/id/ID %>
<%# Add your HTML and ERB code here for the edit page %>
<script src="https://cdn.tiny.cloud/1/rzzngc2l3yjv4zi3457y3qjfv92codj2bb91rnem3fsyl4x3/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
<h1>Edit User Gallery ID (<%= @id %>)</h1>
<br>
<img src="<%= "#{domain_name(@r)}/gallery/#{@user}/thumbnail_#{@file}" %>" onerror="this.src='not_found_image.png'"><br><br>


<form action="/gallery/edit/<%= @user %>/id/<%= @id %>" method="post" enctype="multipart/form-data">
  <input type="hidden" name="_method" value="patch">
  <!-- Add your form fields here -->
  <label for="title">Title:</label>
  <input type="text" name="title" id="title" value="<%= @title %>">
  <br>
  <label for="tags">Tags:</label>
  <textarea rows="4" cols="50" name="tags" id="tags"><%= @tags %></textarea>
  <br>
  <label for="file">File:</label>
  <input type="file" name="file" id="file">
  <br>
  <label for="description">Description:</label>
  <textarea name="description" id="description"><%= @description %></textarea>
  <br>
  <input type="submit" value="save">
</form>
<br>
<form action="/gallery/delete/<%= @user %>/id/<%= @id %>" method="get">
  <input type="hidden" name="_method" value="delete">
  <input type="submit" value="Delete Entry!">
</form>
<script>
  tinymce.init({
    selector: '#description',
    plugins: 'anchor autolink charmap codesample emoticons image link lists media searchreplace table visualblocks wordcount linkchecker',
    toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table | align lineheight | numlist bullist indent outdent | emoticons charmap | removeformat',
  });
</script>


