    <% gallery = []
       latest_id = @gallery.size %>
    <!DOCTYPE html>
    <html>
    <head>
      <title><%= @title %></title>
      <style>
         img {
          max-width: 100%;
          height: auto;
      }
      </style>
    </head>
    <body>
    <center>
      <form action="<%= "#{domain_name(@r)}/gallery/view/#{@user}/tags/search" %>" method="get">
      <input type="text" id="search_tags" name="search_tags" placeholder="Search tags" required> <a href="<%= "#{domain_name(@r)}/gallery/view/#{@user}/tags/" %>">(🏷️,🏷️,...)</a>
      <input type="submit" value="Search">
      </form>

      <br>
      <br>
      <h1>For <%= @user %>'s gallery</h1>
<hr>
      <h1><b>OwO⁉️</b></h1>

      <form action="<%= "#{domain_name(@r)}/gallery/view/#{@user}/" %>" method="get">
        <label for="owo_display">➗OwO:</label>
        <input type="number" id="owo_display" name="owo_count_rate" value="<%= @owo_count_rate || 3 %>" required>
        <input type="submit" value="Submit">
      </form>
      <br>

      <div style="display: flex; flex-wrap: wrap;">
        <% @owo_count_gallery.each_with_index do |image, index| %>
          <% next if image['owo_count'].nil? %>
          <% log(@owo_count_rate) %>
          <% if index % @owo_count_rate == 0 %> <!-- Modulo operation with @owo_count_rate -->
            <br>
          <% end %>
          <div style="padding: 11px; box-sizing: border-box;">
            <div id="gallery_images">
              <p style="text-align: center;"><%= convert_ints_to_emoji(image['owo_count']) %> OwOs</p>
              <a href="<%= domain_name(@r) %>/gallery/view/<%= @user %>/id/<%= image['id'] %>" border="0">
                <img src="<%= domain_name(@r) %>/gallery/<%= @user %>/thumbnail_<%= image['file'] %>" alt="<%= @title %>">
              </a>
              <% if !image['attachments'].nil? %>
                <% image['attachments'].each_with_index do |attachment, index| %>
                  <div class="attachment">
                    *️⃣ <a href="/gallery/<%= @user %>/attachments/<%= attachment['file_attachment_name'] %>">
                    <% if @user == session['user'] %>
                      <%= attachment['file_attachment_name'] %></a> <a href="/gallery/view/<%= @user %>/id/<%= image['id'] %>/attachments/delete/<%= index  %>">DELETE</a>
                    <% end %>
                  </div><br />
                <% end %>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
<hr>
      <br><br>

      <h1><b>🖼️,🖼️,...</b></h1>

      <form action="<%= "#{domain_name(@r)}/gallery/view/#{@user}/" %>" method="get">
        <label for="modulo_display">➗</label>
        <input type="text" id="modulo_display" name="modulo_display" value="<%= @modulo_display || 4 %>" required>
        <label for="image_quantity">#️⃣</label>
        <input type="text" id="image_quantity" name="quantity_displayed" value="<%= @quantity_displayed || 175 %>" required>
        <input type="submit" value="Submit">
      </form>

      <br>

      <table padding="11" border="0">
      <tr>
        <% @gallery.each do |hash| %>
          <%
           gallery << hash
           %>
         <% end %>
      <% latest_id.downto(0) do |id| %>
        <% hash = gallery[id] %>
        <% unless hash.nil? || hash == {} %>
          <% if id % @modulo_display == 0 %>
          </tr><tr>
          <% end %>
          <td>
          <div id="gallery_images">
            <a href="<%= domain_name(@r) %>/gallery/view/<%= @user %>/id/<%= hash['id'] %>" border="0">
            <img src="<%= domain_name(@r) %>/gallery/<%= @user %>/thumbnail_<%= hash['file'] %>" alt="<%= @title %>">
            </a>
          </div>
          </td>

        <% end %>
        <% end %>

      <center><div><%= @pages_html %></div></center>
    </tr>
    </table>
  </center>
  <center><div><%= @pages_html %></div></center>
  </body>
  </html>
