    <% gallery = []
       latest_id = @gallery.size %>
    <!DOCTYPE html>
    <html>
    <head>
      <title><%= @title %></title>
      <style>
         img {
          max-width: 100%;
          height: auto;
      }
      </style>
    </head>
    <body>
    <center>
      <form action="<%= "#{domain_name(@r)}/gallery/view/#{@user}/tags/search" %>" method="get">
      <input type="text" id="search_tags" name="search_tags" placeholder="Search tags" required> <a href="<%= "#{domain_name(@r)}/gallery/view/#{@user}/tags/" %>">(🏷️,🏷️,...)</a>
      <input type="submit" value="Search">
      </form>

      <br>
      <br>
      <h1>For <%= @user %>'s gallery</h1>
      <table padding="11" border="0">
      <tr>
        <% @gallery.each do |hash| %>
          <%
           gallery << hash
           %>
         <% end %>
      <% latest_id.downto(0) do |id| %>
        <% hash = gallery[id] %>
        <% unless hash.nil? || hash == {} %>
          <% if id % 4 == 0 %>
          </tr><tr>
          <% end %>
          <td>
          <div id="gallery_images">
            <a href="<%= domain_name(@r) %>/gallery/view/<%= @user %>/id/<%= hash['id'] %>" border="0">
            <img src="<%= domain_name(@r) %>/gallery/<%= @user %>/thumbnail_<%= hash['file'] %>" alt="<%= @title %>">
            </a>
          </div>
          </td>

        <% end %>
        <% end %>

      <center><div><%= @pages_html %></div></center>
    </tr>
    </table>
  </center>
  <center><div><%= @pages_html %></div></center>
  </body>
  </html>
