<% if !@image['attachments'].nil? %>
    <% @image['attachments'].each_with_index do |attachment, index| %>
            <div class="attachment">
                   * <a href="/gallery_index/<%= @user %>/attachments/<%= attachment['file_attachment_name'] %>"><%= attachment['file_attachment_name'] %></a> <a href="/gallery/view/<%= @user %>/id/<%= @id %>/attachments/delete/<%= index  %>">DELETE</a>
            </div><br />
    <% end %>
<% end %>
