 <center><form action="<%= "#{domain_name(@r)}/gallery/view/#{@user}/tags/search" %>" method="get">
    <input type="text" id="search_tags" name="search_tags" placeholder="Search tags" required> <a href="<%= "#{domain_name(@r)}/gallery/view/#{@user}/tags/" %>">(🏷️,🏷️,...)</a>
    <input type="submit" value="Search">
    </form></center>
        <br>
        <br>
<div><style>
       img {
        max-width: 100%;
        height: auto;
    }
    </style>
    <br>
    <h1>For <%= @user %>'s tags <a href="<%= "#{domain_name(@r)}/gallery/view/#{@user}" %>">(⬅️)</a> </h1> <!-- todo: work on tag version of tags list (this) --><br>

     <div style="text-align: center;">
        <h1>
            <a href="<%= "#{domain_name(@r)}/gallery/view/#{@user}/tags/?view_all_images_with_tags=true" %>">(➕)</a>
            <a href="<%= "#{domain_name(@r)}/gallery/view/#{@user}/tags/" %>">(➖)</a>
        </h1>
    </div>

    <div>
        <br>
        <div style="border: 1px solid black; font-family: Consolas; margin: 0 auto;">
            <% @tags_set.each do |tag| %>
                <%= tag %>,
            <% end %>
           
        </div>
        <br>
    </div>

    <div style="text-align: center;">
        <h1>
            <a href="<%= "#{domain_name(@r)}/gallery/view/#{@user}/tags/?view_all_images_with_tags=true" %>">(➕)</a>
            <a href="<%= "#{domain_name(@r)}/gallery/view/#{@user}/tags/" %>">(➖)</a>
        </h1>
    </div>

    <% if @view_all_images_with_tags == "true" %>


        <% @split_tags.each do |tag| %>
            <div style="display: inline-block; width: auto;">
                <center><h2><a href="<%= "#{domain_name(@r)}/gallery/view/#{@user}/tags/search/?search_tags=#{tag}" %>"><%= tag %></a></h2></center>
                <br />
                <br>
                <br>
                <div>
                    <% @gallery.data_arr.each_with_index do |image, index| %>
                        <% break if @gallery.latest_id < index %>


                        <% if (image['tags'] && image['tags'].split(", ").include?(tag)) %>
                            <div style="border: 1px solid white;">
                                <p><strong>(🧾)</strong> <%= image['title'] %></p>
                                <p><strong>(🏷️)</strong> <%= image['tags'] %></p>
                                <p><strong>(⌚)</strong> <%= image['date'] %></p>
                                <p><strong>(♾️)</strong> <%= image['views'] %></p>
                                <p><strong>(🖼️)</strong> <a href="<%= "#{domain_name(@r)}/gallery/#{@user}/#{image['file']}" %>">(⏬➡️💾)</a></p>
                                <p><strong>(🔗)</strong> <a href="<%= "#{domain_name(@r)}/gallery/view/#{@user}/id/#{index}" %>"><img src="<%= "#{domain_name(@r)}/gallery/#{@user}/thumbnail_#{image['file']}" %>" alt="<%= @title %>"></a></p>
                                <p><strong>(📌)</strong> <a href="<%= "#{domain_name(@r)}/gallery/edit/#{@user}/id/#{index}" %>">(📝)</a></p>
                            </div>
                        <% end %>
                    <% end %>
                </div>
            </div>
        <% end %>
        <% end %>
    </div>

</div>


