 <form action="<%= "#{domain_name(@r)}/gallery/view/#{@user}/tags/search" %>" method="get">
            <input type="text" id="search_tags" name="search_tags" placeholder="Search tags">
            <input type="submit" value="Search">
        </form>
        <br>
        <br>
<div>
    <br>
    <h1>For <%= @user %>'s tags</h1> <!-- todo: work on tag version of tags list (this) -->
    <div>
        <br>
        <% @split_tags.each do |tag| %>
            <div style="display: inline-block; width: auto;">
                <center><h2><a href="<%= "#{domain_name(@r)}/gallery/view/#{@user}/tag/#{tag}" %>"><%= tag %></a></h2></center>
                <br />
                <br>
                <br>
                <div>
                    <% @gallery.data_arr.each_with_index do |image, index| %>
                        <% break if @gallery.latest_id < index %>


                        <% if (image['tags'] && image['tags'].split(", ").include?(tag)) %>
                            <div style="border: 1px solid white;">
                                <p><strong>(🧾)</strong> <%= image['title'] %></p>
                                <p><strong>(🏷️)</strong> <%= image['tags'] %></p>
                                <p><strong>(⌚)</strong> <%= image['date'] %></p>
                                <p><strong>(♾️)</strong> <%= image['views'] %></p>
                                <p><strong>(🖼️)</strong> <a href="<%= "#{domain_name(@r)}/gallery/#{@user}/#{image['file']}" %>">(⏬➡️💾)</a></p>
                                <p><strong>(🔗)</strong> <a href="<%= "#{domain_name(@r)}/gallery/view/#{@user}/id/#{index}" %>"><img src="<%= "#{domain_name(@r)}/gallery/#{@user}/thumbnail_#{image['file']}" %>" alt="<%= @title %>"></a></p>
                                <p><strong>(📌)</strong> <a href="<%= "#{domain_name(@r)}/gallery/edit/#{@user}/id/#{index}" %>">(📝)</a></p>
                            </div>
                        <% end %>
                    <% end %>
                </div>
            </div>
        <% end %>
    </div>
</div>

